<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript">
    function getSegment(key,page)
      {
         $.ajax({
            type:"POST",
            url :"<?php echo $this->baseUrl('admin/user/load'); ?>/page/"+page+"",
            data:{page:1},
            success: getdata
         });
      };
      
      function getdata(data)
      {
         $("#test").html(data);   
      };    
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#load').fadeOut();
    });

    function deleteUser(id)
    {
        if (confirm('Are you sure you want to delete this?')) {
        $('#load').fadeIn();
        var temp = $(document.getElementById(id)).parent().parent();
        $.ajax({
            type: 'POST',
            url: '<?= $this->url(array('action' => 'delete', 'controller' => 'user')); ?>',
            async: false,
            data: {id:id },
            cache: false,
            success: function(){
                    //alert("it's work");
                    temp.slideUp("slow",function(){$(this).remove();});
                    $('#load').fadeOut();
                },
            error: function(){
                alert("error detected");
            }
        });
        }
    }
</script>
<div id="content" style="margin-left: 100px;">    
    <div id="load" align="center"></div>
    <div class="contentTop">
        <span class="pageTitle"><span class="icon-wrench-2"></span>Tables with control</span>
        <ul class="quickStats">
            <li>
                <a href="" class="blueImg"><?php echo "<img src=' " . URL_ROOT . "application/layouts/images/icons/quickstats/plus.png' alt='' />" ?>
                </a>
                <div class="floatR"><strong class="blue">5489</strong><span>visits</span></div>
            </li>
            <li>
                <a href="" class="redImg"><?php echo "<img src=' " . URL_ROOT . "application/layouts/images/icons/quickstats/user.png' alt='' />" ?>
                </a>
                <div class="floatR"><strong class="blue">4658</strong><span>users</span></div>
            </li>
            <li>
                <a href="" class="greenImg"><?php echo "<img src=' " . URL_ROOT . "application/layouts/images/icons/quickstats/money.png' alt='' />" ?>
                </a>
                <div class="floatR"><strong class="blue">1289</strong><span>orders</span></div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>

    <!-- Breadcrumbs line -->
    <div class="breadLine">
        <div class="bc">
            <ul id="breadcrumbs" class="breadcrumbs">
                <li><a href="index.html">Dashboard</a></li>
                <li><a href="tables.html">Tables</a>
                    <ul>
                        <li><a href="tables.html" title="">Standard tables</a></li>
                        <li><a href="tables_dynamic.html" title="">Dynamic table</a></li>
                        <li><a href="tables_sortable.html" title="">Sortable and resizable</a></li>
                    </ul>
                </li>
                <li class="current"><a href="tables_control.html" title="">Tables with control</a></li>
            </ul>
        </div>
    </div>

    <!-- Main content -->
        <div class="wrapper">
        <ul class="middleNavR">
            <li>
                <a href="<?= $this->url(array('module'=>'admin','controller'=>'user','action'=>'insert')); ?>" title="Register" class="tipN"><img src="<?= URL_ROOT.'/application/layouts/images/icons/middlenav/add.png' ?>" alt="" /></a>                
            </li>
        </ul>
	
        <!-- Simple head with dark head -->
        <div class="widget">
            <form method="post">
                <div id="test">
                    <table cellpadding="0" cellspacing="0" width="100%" class="tDark">
                        <thead>
                            <tr>
                                <td>Photo</td>
                                <td>Email</td>
                                <td>Display Name</td>
                                <td>Username</td>
                                <td>Creation Date</td>
                                <td>Creation IP</td>
                                <td>Modified Date</td>
                                <td>Lastlogin Date</td>                                
                                <td>Lastlogin IP</td>
                                <td>Level</td>
                                <td>Status</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>                        
                                <td colspan="13">
                                    <div style="display:none" class="itemActions">
                                        <label>Apply action:</label>
                                        <select>
                                            <option value="">Select action...</option>
                                            <option value="Edit">Edit</option>
                                            <option value="Delete">Delete</option>
                                            <option value="Move">Move somewhere</option>
                                        </select>
                                    </div>
                                    <div class="fg-toolbar tableFooter">
                                        <div id="dynamic_paginate" class="dataTables_paginate paging_full_numbers">
                                                <?php echo $this->paginationControl($this->data,
                                                                    'Sliding', 'user/pagination.phtml'); ?>        
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>                        
                        <tbody>
                            <?php foreach ($this->listItem as $rows)  { ?>
                                <tr>                                    
                                    <td><img width="50px" height="50px" src="<?php echo URL_ROOT ?>/public/files/imageusers/<?php echo $rows['photo_id'] ?>/<?php echo $rows['photo_id'] ?>.jpg"></td>
                                    <td><?php echo $rows['email'] ?></td>
                                    <td><?php echo $rows['displayname'] ?></td>                                    
                                    <td class="fileInfo"><?php echo $rows['username'] ?></td>
                                    <td><?php echo $rows['creation_date'] ?></td>                                    
                                    <td><?php echo $rows['creation_ip'] ?></td>
                                    <td><?php echo $rows['modified_date'] ?></td>
                                    <td><?php echo $rows['lastlogin_date'] ?></td>
                                    <td><?php echo $rows['lastlogin_ip'] ?></td>
                                    <td><?php if($rows['level'] == 1) echo 'Administrator'; elseif($rows['level'] == 2) echo 'Moderator'; else echo 'Member'; ?></td>
                                    <td><?php if($rows['status'] == 2) echo 'Verified'; elseif($rows['status'] == 1) echo 'Pending'; else echo 'Disable';?></td>
                                
                                    <td class="tableActs">                                        
                                        <a href="<?= $this->baseUrl('admin/user/update/id/' . $rows['id']); ?>" class="tablectrl_small bDefault tipS" title="Edit"><span class="iconb" data-icon="&#xe1db;"></span></a>
                                        <a href="#" onclick="deleteUser(<?php echo $rows["id"] ?>)" id="<?php echo $rows["id"] ?>" class="tablectrl_small bDefault tipS" title="Remove"><span class="iconb" data-icon="&#xe136;"></span></a>
                                        <a href="#" class="tablectrl_small bDefault tipS" title="Options"><span class="iconb" data-icon="&#xe1f7;"></span></a>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        </div> 
    </div>
</div>
