                    <table cellpadding="0" cellspacing="0" width="100%" class="tDark">
                        <thead>
                            <tr>
                                <td>Photo</td>
                                <td>Email</td>
                                <td>Display Name</td>
                                <td>Username</td>
                                <td>Creation Date</td>
                                <td>Creation IP</td>
                                <td>Modified Date</td>
                                <td>Lastlogin Date</td>                                
                                <td>Lastlogin IP</td>
                                <td>Level</td>
                                <td>Status</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>                        
                                <td colspan="13">
                                    <div style="display:none" class="itemActions">
                                        <label>Apply action:</label>
                                        <select>
                                            <option value="">Select action...</option>
                                            <option value="Edit">Edit</option>
                                            <option value="Delete">Delete</option>
                                            <option value="Move">Move somewhere</option>
                                        </select>
                                    </div>
                                    <div class="fg-toolbar tableFooter">
                                        <div id="dynamic_paginate" class="dataTables_paginate paging_full_numbers">
                                                <?php echo $this->paginationControl($this->data,
                                                                    'Sliding', 'user/pagination.phtml'); ?>        
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>                        
                        <tbody>
                            <?php foreach ($this->listItem as $rows)  { ?>
                                <tr>                                    
                                    <td><img width="50px" height="50px" src="<?php echo URL_ROOT ?>/public/files/imageusers/<?php echo $rows['photo_id'] ?>/<?php echo $rows['photo_id'] ?>.jpg"></td>
                                    <td><?php echo $rows['email'] ?></td>
                                    <td><?php echo $rows['displayname'] ?></td>                                    
                                    <td class="fileInfo"><?php echo $rows['username'] ?></td>
                                    <td><?php echo $rows['creation_date'] ?></td>                                    
                                    <td><?php echo $rows['creation_ip'] ?></td>
                                    <td><?php echo $rows['modified_date'] ?></td>
                                    <td><?php echo $rows['lastlogin_date'] ?></td>
                                    <td><?php echo $rows['lastlogin_ip'] ?></td>
                                    <td><?php if($rows['level'] == 1) echo 'Administrator'; elseif($rows['level'] == 2) echo 'Moderator'; else echo 'Member'; ?></td>
                                    <td><?php if($rows['status'] == 2) echo 'Verified'; elseif($rows['status'] == 1) echo 'Pending'; else echo 'Disable';?></td>
                                
                                    <td class="tableActs">                                        
                                        <a href="<?= $this->baseUrl('admin/user/update/id/' . $rows['id']); ?>" class="tablectrl_small bDefault tipS" title="Edit"><span class="iconb" data-icon="&#xe1db;"></span></a>
                                        <a href="#" onclick="deleteUser(<?php echo $rows["id"] ?>)" id="<?php echo $rows["id"] ?>" class="tablectrl_small bDefault tipS" title="Remove"><span class="iconb" data-icon="&#xe136;"></span></a>
                                        <a href="#" class="tablectrl_small bDefault tipS" title="Options"><span class="iconb" data-icon="&#xe1f7;"></span></a>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>