<?php if ($this->pageCount): ?>

    <?php

    if (isset($this->previous)) {
        echo '<a id="dynamic_previous" class=previous paginate_button paginate_button_disabled" tabindex="0" href="javascript:void(0);" onClick="getSegment(null,' . $this->previous . ')" >Previous</a>';
    }
    foreach ($this->pagesInRange as $page) {
        if ($page != $this->current) {
            echo '<span><a class="paginate_button" tabindex="0" href="javascript:void(0);" onClick="getSegment(null,' . $page . ')" >' . $page . '</a></span>';
        } else {
            echo "<span><a class='paginate_active'>" . $page . "</a></span>";
        }
    }
    if (isset($this->next)) {
        echo '<a id="dynamic_previous" class=previous paginate_button paginate_button_disabled" tabindex="0" href="javascript:void(0);" onClick="getSegment(null,' . $this->next . ')" >Next</a>';        
    }
    ?>        
<?php endif; ?>


