<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
<script type="text/javascript">
    function getCaptcha()
    {
        $.ajax({url: "/admin/auth/refresh",
            type: "POST",
            url: '<?= $this->url(array('action' => 'refresh', 'controller' => 'user')); ?>',
                    success: function(data) {
                var src = data.url;
                $("#captcha").attr("src", src);
                $("#captchaid").val(data.id);
            }
        });
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#frmregister").validate({
            debug: false,
            rules: {
                email: {
                    required: true,
                    email: true
					
                },
                displayname: "required",
                username: "required",
                password: "required"
				
            },
            messages: {
                email:{
                    required: "Email cannot be empty",
                    email: "Invalid email format"},
                displayname: "Display name cannot be empty",
                username: "Username cannot be empty",
                password: "Password cannot be empty"              
            }
        });
    });
</script>
<script type="text/javascript">
    function ShowImagePreview( files )
    {
        if( !( window.File && window.FileReader && window.FileList && window.Blob ) )
        {
          alert('The File APIs are not fully supported in this browser.');
          return false;
        }

        if( typeof FileReader === "undefined" )
        {
            alert( "Filereader undefined!" );
            return false;
        }

        var file = files[0];

        if( !( /image/i ).test( file.type ) )
        {
            alert( "File is not an image." );
            return false;
        }

        reader = new FileReader();
        reader.onload = function(event)
                { var img = new Image;
                  img.onload = UpdatePreviewCanvas;
                  img.src = event.target.result;  
                }
        reader.readAsDataURL( file );
    }

    function UpdatePreviewCanvas()
    {
        var img = this;
        var canvas = document.getElementById( 'previewcanvas' );

        if( typeof canvas === "undefined"
            || typeof canvas.getContext === "undefined" )
            return;

        var context = canvas.getContext( '2d' );

        var world = new Object();
        world.width = canvas.offsetWidth;
        world.height = canvas.offsetHeight;

        canvas.width = world.width;
        canvas.height = world.height;

        if( typeof img === "undefined" )
            return;

        var WidthDif = img.width - world.width;
        var HeightDif = img.height - world.height;

        var Scale = 0.0;
        if( WidthDif > HeightDif )
        {
            Scale = world.width / img.width;
        }
        else
        {
            Scale = world.height / img.height;
        }
        if( Scale > 1 )
            Scale = 1;

        var UseWidth = Math.floor( img.width * Scale );
        var UseHeight = Math.floor( img.height * Scale );

        var x = Math.floor( ( world.width - UseWidth ) / 2 );
        var y = Math.floor( ( world.height - UseHeight ) / 2 );

        context.drawImage( img, x, y, UseWidth, UseHeight ); 
    }
 
    </script>
<style> label.error { width: 250px; display:inline; color: red;  }  </style>    
<div id="content" style="margin-left: 100px;">
    <div class="contentTop">
        <span class="pageTitle"><span class="icon-wrench-2"></span>Tables with control</span>
        <ul class="quickStats">
            <li>
                <a href="" class="blueImg"><?php echo "<img src=' " . URL_ROOT . "application/layouts/images/icons/quickstats/plus.png' alt='' />" ?>
                </a>
                <div class="floatR"><strong class="blue">5489</strong><span>visits</span></div>
            </li>
            <li>
                <a href="" class="redImg"><?php echo "<img src=' " . URL_ROOT . "application/layouts/images/icons/quickstats/user.png' alt='' />" ?>
                </a>
                <div class="floatR"><strong class="blue">4658</strong><span>users</span></div>
            </li>
            <li>
                <a href="" class="greenImg"><?php echo "<img src=' " . URL_ROOT . "application/layouts/images/icons/quickstats/money.png' alt='' />" ?>
                </a>
                <div class="floatR"><strong class="blue">1289</strong><span>orders</span></div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>

    <!-- Breadcrumbs line -->
    <div class="breadLine">
        <div class="bc">
            <ul id="breadcrumbs" class="breadcrumbs">
                <li><a href="index.html">Dashboard</a></li>
                <li><a href="tables.html">Tables</a>
                    <ul>
                        <li><a href="tables.html" title="">Standard tables</a></li>
                        <li><a href="tables_dynamic.html" title="">Dynamic table</a></li>
                        <li><a href="tables_sortable.html" title="">Sortable and resizable</a></li>
                    </ul>
                </li>
                <li class="current"><a href="tables_control.html" title="">Tables with control</a></li>
            </ul>
        </div>

    </div>

    <div class="wrapper">
        
        <form id="frmregister" action="" method="post" class="main" enctype="multipart/form-data">
            
            <fieldset>
                <div class="widget fluid">
                    <div class="whead"><h6>Edit</h6><div class="clear"></div></div>
                    <?php $user= $this->getUser ?>
                    <div class="formRow">
                        <div class="grid3"><label>Email:</label></div>
                        <div class="grid9"><input value="<?php echo $this->eml ?><?php echo $user["email"] ?>" id="email" name="email" style="width: 200px;" type="text"/></div>
                        <div class="clear"></div>
                    </div>                     
                    <div class="formRow">
                        <div class="grid3"><label>Display Name:</label></div>
                        <div class="grid9"><input value="<?php echo $this->displayname ?><?php echo $user["displayname"] ?>" id="displayname" name="displayname" style="width: 200px;" type="text"/></div>
                        <div class="clear"></div>
                    </div>                    
                    <div class="formRow">
                        <div class="grid3"><label>Photo:</label></div>
                        <div class="grid9">
                            <?php echo $this->formFile('picture', array('onchange' => 'return ShowImagePreview( this.files )')); ?><br />
                            <div id="previewcanvascontainer"><canvas id="previewcanvas"></canvas></div><br />                             
                            <img width="50px" height="50px" src="<?php echo URL_ROOT ?>/public/files/imageusers/<?php echo $user['photo_id']?><?php echo $this->photo?>/<?php echo $user['photo_id']?><?php echo $this->photo?>.jpg" /> 
                            
                        </div>
                        <div class="clear"></div>
                    </div>                    
                    <div class="formRow">
                        <div class="grid3"><label>Username:</label></div>
                        <div class="grid9"><input value="<?php echo $this->username ?><?php echo $user["username"] ?>" id="username" name="username" style="width: 200px;" type="text"/></div>
                        <div class="clear"></div>
                    </div> 
                    <div class="formRow">
                        <div class="grid3"><label>Password:</label></div>
                        <div class="grid9"><input value="<?php echo $this->password ?><?php echo $user["password"] ?>" id="password" name="password" style="width: 200px;" type="password"/></div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <div class="grid3"><label>Level:</label></div>
                        <div class="grid9">
                            <select name="level" id="level">
                                <option value="1" <?php if($this->level == 1) echo "selected" ?>    <?php if($user['level'] == 1) echo "selected"; ?>>Administrator</option>
                                <option value="2" <?php if($this->level == 2) echo "selected" ?>    <?php if($user['level'] == 2) echo "selected"; ?>>Moderator</option>
                                <option value="3" <?php if($this->level == 3) echo "selected" ?>    <?php if($user['level'] == 3) echo "selected"; ?>>Member</option>                                
                            </select>                        
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <div class="grid3"><label>Status:</label></div>
                        <div class="grid9">
                            <select name="status" id="status">
                                <option value="0" <?php if($this->status == 0) echo "selected" ?>    <?php if($user['status'] == 0) echo "selected"; ?>>Disable</option>
                                <option value="1" <?php if($this->status == 1) echo "selected" ?>    <?php if($user['status'] == 1) echo "selected"; ?>>Pending</option>
                                <option value="2" <?php if($this->status == 2) echo "selected" ?>    <?php if($user['status'] == 2) echo "selected"; ?>>Verified</option>                                
                            </select>                                                    
                        </div>
                        <div class="clear"></div>
                    </div>  
                    <div class="formRow">
                        <div class="grid3"><label>Captcha:</label></div>
                        <div class="grid9">
                                                        
                            <div><?php echo $this->captcha; ?></div><br/>
                            
                            <input type="text" name="captcha" id="captcha" style="width: 236px;" /><br/>    
                            <?php echo $this->formHidden('captcha_id', $this->captchaID) ?>
                            <label class="error"><?php echo $this->error; ?></label>
                            
                        </div>
                        <div class="clear"></div>
                    </div>                       
                    <div class="formRow">
                        <div style="margin-left: 300px">
                            <button type="text" class="buttonM bRed" onclick="getCaptcha()">Get another captcha</button>                            
                            <input type="button" class="buttonS bRed" value="Back" onclick="window.location.href = '<?= $this->url(array('action' => 'index', 'controller' => 'user', 'module'=>'admin')); ?>';" />
                            <input type="submit" class="buttonS bGreen" value="Save" name="btn_upload" id="btn_upload" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
