<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript">
    function getSegment(key,page)
      {
         $.ajax({
            type:"POST",
            url :"<?php echo $this->baseUrl('admin/devices/load'); ?>/page/"+page+"",
            data:{page:1},
            success: getdata
         });
      };
      
      function getdata(data)
      {
         $("#devices").html(data);   
      }; 
      
      function getSegmentHistory(key,page)
      {
         $.ajax({
            type:"POST",
            url :"<?php echo $this->baseUrl('admin/devices/loadhistory'); ?>/page/"+page+"",
            data:{page:1},
            success: getdatahistory
         });
      };
      
      function getdatahistory(data)
      {
         $("#history").html(data);   
      }; 
      
      
      function getSegmentMessages(key,page)
      {
         $.ajax({
            type:"POST",
            url :"<?php echo $this->baseUrl('admin/devices/loadmessages'); ?>/page/"+page+"",
            data:{page:1},
            success: getdatamessage
         });
      };
      
      function getdatamessage(data)
      {
         $("#messages").html(data);   
      }; 
      
      function activeHistory(id)
        {
            $.ajax({
                    type: 'POST',
                    url: '<?= $this->url(array('action'=>'active','controller'=>'devices'));?>',
                    async: false,
                    data: {id:id },
                    cache: false,
                    dataType:'json',
                    success: function(obj){
                    $('#status_'+id).html(obj.data);
            }
            });
            return false;
        }
     function confirmActive(id) {
        var r = confirm("Are you sure you want to change status?");
        if (r) {
            activeHistory(id);
        }
        return false;
    }
</script>
<script type="text/javascript">   
   $(document).ready(function(){
       $("#devicesHistorytab").click(function() {
           //$("#middleNavR").show();
           $("#middleNavR").fadeIn();
      });
      $("#devicestab").click(function() {
           $("#middleNavR").fadeOut();
      });
      $("#messagestab").click(function() {
           $("#middleNavR").fadeOut();
      });
   });
</script>
<div id="content" style="margin-left: 100px;">
    <div class="wrapper">
        <ul class="middleNavR" id="middleNavR" style="display: none">
            <li>
                <a href="#" title="Badge" class="tipN"><img src="<?= URL_ROOT.'/application/layouts/images/icons/middlenav/add.png' ?>" alt="" /></a>
                <strong><span id="feeback">6</span></strong>
            </li>
            <li>
                <a href="#" title="Alert" class="tipN"><img src="<?= URL_ROOT.'/application/layouts/images/icons/middlenav/add.png' ?>" alt="" /></a>
                <strong><span id="feeback">7</span></strong>
            </li>
            <li>
                <a href="#" title="Sound" class="tipN"><img src="<?= URL_ROOT.'/application/layouts/images/icons/middlenav/add.png' ?>" alt="" /></a>
                <strong><span id="feeback">8</span></strong>
            </li>
       </ul>  
        <div class="fluid">
            <div class="widget grid6 rightTabs" style="width: 100%">       
                <ul class="tabs">                    
                    <li id="devicestab"><a href="#tabb4">Devices</a></li>                                               
                    <li onclick="" id="devicesHistorytab"><a href="#tabb5">Devices History</a></li>                        
                    <li onclick="" id="messagestab"><a href="#tabb3">Messages</a></li> 
                </ul>
                <div class="tab_container">

                    <div id="tabb4" class="tab_content">
            <form method="post">
                <div id="devices">
                    <table cellpadding="0" cellspacing="0" width="100%" class="tDark" style="text-align: center">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>App Name</td>
                                <td>App Version</td>
                                <td>Device UID</td>
                                <td>Device Name</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>                        
                                <td colspan="7">
                                    <div style="display:none" class="itemActions">
                                        <label>Apply action:</label>
                                        <select>
                                            <option value="">Select action...</option>
                                            <option value="Edit">Edit</option>
                                            <option value="Delete">Delete</option>
                                            <option value="Move">Move somewhere</option>
                                        </select>
                                    </div>
                                    <div class="fg-toolbar tableFooter">
                                        <div id="dynamic_paginate" class="dataTables_paginate paging_full_numbers">
                                                <?php echo $this->paginationControl($this->data,
                                                                    'Sliding', 'devices/pagination.phtml'); ?>        
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>                
                        <tbody>
                            <?php foreach ($this->listItem as $item)  { ?>
                                <tr>                            
                                    <td><?php echo $item["pid"] ?></td>
                                    <td class="fileInfo"><?php echo $item["appname"] ?></td>
                                    <td><?php echo $item["appversion"] ?></td>
                                    <td class="textL"><?php echo $item["deviceuid"] ?></a></td>
                                    <td><?php echo $item["devicename"] ?></td>
                                    <td class="tableActs">
                                        <a href="#" class="tablectrl_small bDefault tipS" title="Activate"><span class="iconb" data-icon="&#xe1f7;"></span></a>
                                        <a href="#" class="tablectrl_small bDefault tipS" title="Edit"><span class="iconb" data-icon="&#xe1db;"></span></a>
                                        <a href="#" onclick="" id="<?php echo $item["pid"] ?>" class="tablectrl_small bDefault tipS" title="Remove"><span class="iconb" data-icon="&#xe136;"></span></a>
                                        
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </form>                    
           </div>
                  
           <div id="tabb5" class="tab_content">
               <form method="post">
                <div id="history">
                    <table cellpadding="0" cellspacing="0" width="100%" class="tDark" style="text-align: center">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>App Name</td>
                                <td>App Version</td>
                                <td>Device UID</td>
                                <td>Device Name</td>
                                <td>Status</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>                        
                                <td colspan="7">
                                    <div style="display:none" class="itemActions">
                                        <label>Apply action:</label>
                                        <select>
                                            <option value="">Select action...</option>
                                            <option value="Edit">Edit</option>
                                            <option value="Delete">Delete</option>
                                            <option value="Move">Move somewhere</option>
                                        </select>
                                    </div>
                                    <div class="fg-toolbar tableFooter">
                                        <div id="dynamic_paginate" class="dataTables_paginate paging_full_numbers">
                                                <?php echo $this->paginationControl($this->data,
                                                                    'Sliding', 'devices/paginationHistory.phtml'); ?>        
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>                
                        <tbody>
                            <?php foreach ($this->listItemHistory as $itemHistory)  { ?>
                                <tr>                            
                                    <td><?php echo $itemHistory["pid"] ?></td>
                                    <td class="fileInfo"><?php echo $itemHistory["appname"] ?></td>
                                    <td><?php echo $itemHistory["appversion"] ?></td>
                                    <td class="textL"><?php echo $itemHistory["deviceuid"] ?></a></td>
                                    <td><?php echo $itemHistory["devicename"] ?></td>
                                    <td id="status_<?php echo $itemHistory["pid"] ?>"><?php echo $itemHistory["status"] ?></td>
                                    <td class="tableActs">
                                        <a href="#" id="<?php echo $itemHistory["pid"] ?>" onclick="confirmActive(<?php echo $itemHistory["pid"] ?>)" class="tablectrl_small bDefault tipS" title="Active"><span class="iconb" data-icon="&#xe1f7;"></span></a>
                                        <a href="#" class="tablectrl_small bDefault tipS" title="Edit"><span class="iconb" data-icon="&#xe1db;"></span></a>
                                        <a href="#" onclick="" id="<?php echo $itemHistory["pid"] ?>" class="tablectrl_small bDefault tipS" title="Remove"><span class="iconb" data-icon="&#xe136;"></span></a>
                                        
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </form>                                     
           </div>   
           <div id="tabb3" class="tab_content">
               <form method="post">
                <div id="messages">
                    <table cellpadding="0" cellspacing="0" width="100%" class="tDark" style="text-align: center">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Device ID</td>
                                <td>Messages</td>
                                <td>Delivery</td>
                                <td>Status</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>                        
                                <td colspan="7">
                                    <div style="display:none" class="itemActions">
                                        <label>Apply action:</label>
                                        <select>
                                            <option value="">Select action...</option>
                                            <option value="Edit">Edit</option>
                                            <option value="Delete">Delete</option>
                                            <option value="Move">Move somewhere</option>
                                        </select>
                                    </div>
                                    <div class="fg-toolbar tableFooter">
                                        <div id="dynamic_paginate" class="dataTables_paginate paging_full_numbers">
                                                <?php echo $this->paginationControl($this->data,
                                                                    'Sliding', 'devices/paginationMessages.phtml'); ?>        
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>                
                        <tbody>
                            <?php foreach ($this->listItemMessages as $itemMessage)  { ?>
                                <tr>                            
                                    <td><?php echo $itemMessage["pid"] ?></td>
                                    <td class="fileInfo"><?php echo $itemMessage["fk_device"] ?></td>
                                    <td><?php echo $itemMessage["message"] ?></td>
                                    <td class="textL"><?php echo $itemMessage["delivery"] ?></a></td>
                                    <td><?php echo $itemMessage["status"] ?></td>
                                    <td class="tableActs">
                                        <a href="#" class="tablectrl_small bDefault tipS" title="Options"><span class="iconb" data-icon="&#xe1f7;"></span></a>
                                        <a href="#" class="tablectrl_small bDefault tipS" title="Edit"><span class="iconb" data-icon="&#xe1db;"></span></a>
                                        <a href="#" onclick="" id="<?php echo $itemMessage["pid"] ?>" class="tablectrl_small bDefault tipS" title="Remove"><span class="iconb" data-icon="&#xe136;"></span></a>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </form>                                             
           </div>                    
          </div>	
          <div class="clear"></div>		 
            </div>
        </div>
    </div>
</div>
