<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript">
    function getSegment(key,page)
      {
         $.ajax({
            type:"POST",
            url :"<?php echo $this->baseUrl('admin/log/load'); ?>/page/"+page+"",
            data:{page:1},
            success: getdata
         });
      };
      
      function getdata(data)
      {
         $("#log").html(data);   
      }; 
</script>
<div id="content" style="margin-left: 100px;">    
    <!-- Main content -->
        <div class="wrapper">
        <!-- Simple head with dark head -->
        <div class="widget">
            <form method="post">
                <div id="log">
                    <table cellpadding="0" cellspacing="0" width="100%" class="tDark">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Email</td>
                                <td>Priority</td>
                                <td>Message</td>
                                <td>Timestamp</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>                        
                                <td colspan="7">
                                    
                                   <div style="display:none" class="itemActions">
                                        <label>Apply action:</label>
                                        <select>
                                            <option value="">Select action...</option>
                                            <option value="Edit">Edit</option>
                                            <option value="Delete">Delete</option>
                                            <option value="Move">Move somewhere</option>
                                        </select>
                                    </div>
                                    <div class="fg-toolbar tableFooter">
                                        <div id="dynamic_paginate" class="dataTables_paginate paging_full_numbers">
                                        <?php echo $this->paginationControl($this->data,
                                                                    'Sliding', 'log/pagination.phtml'); ?>   
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>                
                        <tbody>
                           <?php foreach ($this->listItem as $item){
                               if($item['priority'] != 6){
                               ?>
                            <tr style="background-color: lightpink"> 
                               <?php } else { ?>
                                <tr> 
                               <?php } ?>
                                    <td class="fileInfo"><?php echo $item['id'] ?></td>
                                    <td><?php echo $item['email'] ?></td>
                                    <td class="textL"><?php echo $item['priority'] ?></td>
                                    <td><?php echo $item['message'] ?></td>
                                    <td><?php echo $item['timestamp'] ?></td>
                                    <td class="tableActs">
                                        <a href="#" class="tablectrl_small bDefault tipS" title="Edit"><span class="iconb" data-icon="&#xe1db;"></span></a>
                                        <a href="#" onclick="" id="" class="tablectrl_small bDefault tipS" title="Remove"><span class="iconb" data-icon="&#xe136;"></span></a>
                                        <a href="#" class="tablectrl_small bDefault tipS" title="Options"><span class="iconb" data-icon="&#xe1f7;"></span></a>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <!-- Paginate tab 
        <div class="widget grid6 rightTabs">       
            <ul class="tabs">
                <li><a href="#tabb3">Tab active</a></li>
                <li><a href="#tabb4">Tab inactive</a></li>
                <li><a href="#tabb5">Tab plus</a></li>
            </ul>
            <div class="tab_container">
                <div id="tabb3" class="tab_content">
                    Tab is active and has right tabs               
                </div>
                <div id="tabb4" class="tab_content"> This tab is active now</div>
                <div id="tabb5" class="tab_content">Plus</div>
            </div>	
            <div class="clear"></div>		 
        </div> -->
        </div> 
    </div>
</div>
