
                    <table cellpadding="0" cellspacing="0" width="100%" class="tDark">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Email</td>
                                <td>Priority</td>
                                <td>Message</td>
                                <td>Timestamp</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>                        
                                <td colspan="7">
                                    <div style="display:none" class="itemActions">
                                        <label>Apply action:</label>
                                        <select>
                                            <option value="">Select action...</option>
                                            <option value="Edit">Edit</option>
                                            <option value="Delete">Delete</option>
                                            <option value="Move">Move somewhere</option>
                                        </select>
                                    </div>
                                    <div class="fg-toolbar tableFooter">
                                        <div id="dynamic_paginate" class="dataTables_paginate paging_full_numbers">
                                        <?php echo $this->paginationControl($this->data,
                                                                    'Sliding', 'log/pagination.phtml'); ?>   
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>                
                        <tbody>
                           <?php foreach ($this->listItem as $item){
                               if($item['priority'] != 6){
                               ?>
                            <tr style="background-color: lightpink"> 
                               <?php } else { ?>
                                <tr> 
                               <?php } ?>
                                    <td class="fileInfo"><?php echo $item['id'] ?></td>
                                    <td><?php echo $item['email'] ?></td>
                                    <td class="textL"><?php echo $item['priority'] ?></td>
                                    <td><?php echo $item['message'] ?></td>
                                    <td><?php echo $item['timestamp'] ?></td>
                                    <td class="tableActs">
                                        <a href="#" class="tablectrl_small bDefault tipS" title="Edit"><span class="iconb" data-icon="&#xe1db;"></span></a>
                                        <a href="#" onclick="" id="" class="tablectrl_small bDefault tipS" title="Remove"><span class="iconb" data-icon="&#xe136;"></span></a>
                                        <a href="#" class="tablectrl_small bDefault tipS" title="Options"><span class="iconb" data-icon="&#xe1f7;"></span></a>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>