
<script src="http://razum.si/jQuery-calendar/jquery-calendar.js"></script>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
<script>
  $(document).ready(function (){ 

    $("#delivery").calendar();
});
  </script>
  
<script type="text/javascript">
    $(document).ready(function(){
        $("#frm_post").validate({
            debug: false,
            rules: {
                badge: {
                    required: true,
                    digits: true
                },
                editor: "required",
                sound: "required",
                delivery: "required"
			
            },
            messages: {
                badge:{
                    required:"Badge can not be empty.",
                    digits:"Badge must be a number."
                } ,
                editor: "<script type='text/javascript'>+$('#lblerr').text('<?php echo 'Alert can not be empty' ?>');<\/script>",
                sound: "Sound can not be empty.",
                delivery:"Delivery can not be empty."
            }
        });
    });
</script>
<style>
    label.error {display: inline; color: red;}
</style>
<div id="content" style="margin-left: 100px;">
    <div class="contentTop">
        <span class="pageTitle"><span class="icon-wrench-2"></span>Messages</span>
       
        <div class="clear"></div>
    </div>

    <!-- Breadcrumbs line -->
    <div class="breadLine">
        <div class="bc">
            <ul id="breadcrumbs" class="breadcrumbs">
                <li><a href="#">APNS</a></li>
                <li><a href="#">Message</a></li>
                <li class="current"><a href="#" title="">Add Message</a></li>
            </ul>
        </div>

    </div>

    <!-- Main content -->
    <div class="wrapper">
        
        <form id="frm_post" action="<?= $this->url(array('module'=>'admin','controller'=>'push', 'action'=>'addmessage')) ?>" method="post" class="main" enctype="multipart/form-data">
            
            <fieldset>
                <div class="widget fluid">
                    <div class="whead"><h6>Add a message</h6><div class="clear"></div></div>
                    <div class="formRow">
                        <div class="grid3"><label>Badge:</label></div>
                        <div class="grid9"><input id="badge" name="badge" value="1" style="width: 200px;" type="text"/></div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                         <div class="grid3"><label>Alert:</label></div>
                        <div class="grid9">
                            <div class="widget">
                                <div class="whead"><h6></h6><div class="clear"></div></div>
                                <textarea id="editor" name="editor" rows="" cols="16"></textarea>
                            </div>
                            <label id="lblerr" style="color: red"></label>
                        </div>
                        <div class="clear"></div>
                    </div>                    
                    <div class="formRow">
                        <div class="grid3"><label>Sound:</label></div>
                        <div class="grid9"><input type="text" id="sound" style="width: 200px;" name="sound" value="Default"/></div>
                        <div class="clear"></div>
                    </div> 
                    <div class="formRow">
                        <div class="grid3"><label>Delivery:</label></div>
                        <div class="grid9"><input type="text" id="delivery" style="width: 200px;" name="delivery"/></div>
                        <div class="clear"></div>
                    </div> 

                    <div class="formRow">
                        <div class="grid3"><label></label></div>
                        <div style="" class="grid9">
                            <input type="button" style="cursor: pointer" class="buttonS bRed" value="Back" onclick="window.location.href = '<?= $this->url(array('module'=>'admin','controller'=>'apns', 'action'=>'index')) ?>';" />
                            <input type="submit" class="buttonS bGreen" value="Save" />
                        </div>
                        <div class="clear"></div>
                    </div>
            </fieldset>
        </form>
    </div>
</div>
