<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript">
    function getSegment(key,page)
      {
         $.ajax({
            type:"POST",
            url :"<?php echo $this->baseUrl('admin/apns/load'); ?>/page/"+page+"",
            data:{page:1},
            success: getdata
         });
      };
      
      function getdata(data)
      {
         $("#messages").html(data);   
      };    
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#select_all').change(function() {
            var checkboxes = $(this).closest('form').find('#check');
            if($(this).is(':checked')) {
                checkboxes.attr('checked', 'checked');
            } else {
                checkboxes.removeAttr('checked');
            }
        });
    });
</script>
<div id="content" style="margin-left: 100px;">    
    <div id="load" align="center"></div>
    <div class="contentTop">
        <span class="pageTitle"><span class="icon-wrench-2"></span>Messages</span>
        <ul class="quickStats">
            <li>
                <a href="<?= $this->url(array('module'=>'admin','controller'=>'apns', 'action'=>'addmessage')) ?>" class="blueImg tipN" title="Add Message"><?php echo "<img src=' " . URL_ROOT . "application/layouts/images/icons/quickstats/plus.png' alt='' />" ?>
                </a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="breadLine">
        <div class="bc">
            <ul id="breadcrumbs" class="breadcrumbs">
                <li><a href="#">APNS</a></li>
                <li class="current"><a href="#" title="">Messages</a></li>
            </ul>
        </div>
    </div>

    <!-- Main content -->
        <div class="wrapper">
        <ul class="middleNavR">
            <li>
                <!-- Push Notification button -->
                <a href="#" title="Push Notification" class="tipN"><img src="<?= URL_ROOT.'/application/layouts/images/icons/middlenav/add.png' ?>" alt="" /></a>
                <strong style="right: 0px;" class="tipN" title="Delivered"><span id="feeback"><?php foreach ($this->delivered as $d) {echo $d['delivered'];}?></span></strong>
                <strong class="tipN" title="Queued"><span id="feeback"><?php foreach ($this->queued as $q) {echo $q['total'];}?></span></strong>
                <!-- ------ -->
            </li>
            <li>
                <!-- Repush button -->
                <a href="#" title="Repush" class="tipN"><img src="<?= URL_ROOT.'/application/layouts/images/icons/middlenav/add.png' ?>" alt="" /></a>
                <strong style="right: 3px;" class="tipN" title="Failed"><span id="feeback"><?php foreach ($this->failed as $f) {echo $f['failed'];}?></span></strong>
                <!-- ------ -->
                
            </li>
        </ul>
	
        <!-- Simple head with dark head -->
        <div class="widget">
            <form method="post">
                <div id="messages">
                    <table cellpadding="0" cellspacing="0" width="100%" class="tDark">
                        <thead>
                            <tr>
                                <td><input type="checkbox" id="select_all" /></td>
                                <td>ID</td>
                                <td>Device Name</td>
                                <td>Badge</td>
                                <td>Alert</td>
                                <td>Sound</td>
                                <td>Delivery</td> 
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>                        
                                <td colspan="8">
                                    <div style="display:none" class="itemActions">
                                        <label>Apply action:</label>
                                        <select>
                                            <option value="">Select action...</option>
                                            <option value="Edit">Edit</option>
                                            <option value="Delete">Delete</option>
                                            <option value="Move">Move somewhere</option>
                                        </select>
                                    </div>
                                    <div class="fg-toolbar tableFooter">
                                        <div id="dynamic_paginate" class="dataTables_paginate paging_full_numbers">
                                                  <?php echo $this->paginationControl($this->data,
                                                                    'Sliding', 'apns/pagination.phtml'); ?>   
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>                
                        <tbody>
                            <?php foreach ($this->listItemMessages as $item) {?>
                            <?php $arr = json_decode($item['message'],TRUE); ?>
                            <tr style="text-align: center">     
                                <td><?php if($item['status'] != "delivered") { ?><input type="checkbox" name="select[]" id="check" /> <?php }else { ?><input type="checkbox" name="select[]" disabled="" checked="" /> <?php } ?></td>
                                    <td><?php echo $item['pid']; ?></td>
                                    <td><?php echo $item['appname']; ?></td>
                                    <?php foreach ($arr as $val) { ?>
                                    <td><?php echo $val['badge']; ?></td>
                                    <td><?php echo $val['alert']; ?></td>
                                    <td><?php echo $val['sound']; ?></td>
                                    <?php } ?>
                                    <td><?php echo $item['delivery']; ?></td>
                                    <td><?php if($item['status'] == "queued") { echo "<span style='color:Green'>".$item['status']."</span>";}if($item['status'] == "delivered") { echo "<span style='color:Blue'>".$item['status']."</span>";}if($item['status'] == "failed") { echo "<span style='color:Red'>".$item['status']."</span>";} ?></td>
                                </tr>
                                <?php } ?>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        </div> 
    </div>
</div>
