<script type="text/javascript">
    $(document).ready(function() {
        $('#select_all').change(function() {
            var checkboxes = $(this).closest('form').find('#check');
            if($(this).is(':checked')) {
                checkboxes.attr('checked', 'checked');
            } else {
                checkboxes.removeAttr('checked');
            }
        });
    });
</script>
<table cellpadding="0" cellspacing="0" width="100%" class="tDark">
                        <thead>
                            <tr>
                                <td><input type="checkbox" id="select_all" /></td>
                                <td>ID</td>
                                <td>Device Name</td>
                                <td>Badge</td>
                                <td>Alert</td>
                                <td>Sound</td>
                                <td>Delivery</td> 
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>                        
                                <td colspan="8">
                                    <div style="display:none" class="itemActions">
                                        <label>Apply action:</label>
                                        <select>
                                            <option value="">Select action...</option>
                                            <option value="Edit">Edit</option>
                                            <option value="Delete">Delete</option>
                                            <option value="Move">Move somewhere</option>
                                        </select>
                                    </div>
                                    <div class="fg-toolbar tableFooter">
                                        <div id="dynamic_paginate" class="dataTables_paginate paging_full_numbers">
                                                  <?php echo $this->paginationControl($this->data,
                                                                    'Sliding', 'apns/pagination.phtml'); ?>   
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>                
                        <tbody>
                            <?php foreach ($this->listItemMessages as $item) {?>
                            <?php $arr = json_decode($item['message'],TRUE); ?>
                            <tr style="text-align: center">     
                                 <td><?php if($item['status'] != "delivered") { ?><input type="checkbox" name="select[]" id="check" /> <?php }else { ?><input type="checkbox" name="select[]" disabled="" checked="" /> <?php } ?></td>
                                    <td><?php echo $item['pid']; ?></td>
                                    <td><?php echo $item['appname']; ?></td>
                                    <?php foreach ($arr as $val) { ?>
                                    <td><?php echo $val['badge']; ?></td>
                                    <td><?php echo $val['alert']; ?></td>
                                    <td><?php echo $val['sound']; ?></td>
                                    <?php } ?>
                                    <td><?php echo $item['delivery']; ?></td>
                                    <td><?php if($item['status'] == "queued") { echo "<span style='color:Green'>".$item['status']."</span>";}if($item['status'] == "delivered") { echo "<span style='color:Blue'>".$item['status']."</span>";}if($item['status'] == "failed") { echo "<span style='color:Red'>".$item['status']."</span>";} ?></td>
                                </tr>
                                <?php } ?>
                        </tbody>
                    </table>