<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
<script type="text/javascript">
    function getCaptcha()
    {
        $.ajax({url: "/admin/auth/refresh",
            type: "POST",
            url: '<?= $this->url(array('action' => 'refresh', 'controller' => 'user')); ?>',
                    success: function(data) {
                var src = data.url;
                $("#captcha").attr("src", src);
                $("#captchaid").val(data.id);
            }
        });
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#frmforgot").validate({
            debug: false,
            rules: {
                email: {
                    required: true,
                    email: true
					
                }				
            },
            messages: {
                email:{
                    required: "Email cannot be empty",
                    email: "Invalid email format"}
            }
        });
    });
</script>
<style> label.error { width: 250px; display:inline; color: red;  }  </style>
<script type="text/javascript">
    function getCaptcha()
    {
        $.ajax({url: "/admin/auth/refresh",
            type: "POST",
            url: '<?= $this->url(array('action' => 'refresh', 'controller' => 'index')); ?>',
                    success: function(data) {
                var src = data.url;
                $("#captcha").attr("src", src);
                $("#captchaid").val(data.id);
            }
        });
    }
</script>
<!-- Top line begins -->
<div id="top">
	<div class="wrapper">
            <a href="#" title="" class="logo"> <?php echo "<img src=' " . URL_ROOT . "application/layouts/images/logo.png' alt='' />" ?></a>
        <!-- Right top nav -->
        <div class="topNav">
            <ul class="userNav">
                <li><a href="#" title="" class="screen"></a></li>
                <li><a href="#" title="" class="settings"></a></li>
                <li><a href="#" title="" class="logout"></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- Top line ends -->

<!-- Login wrapper begins -->
<div class="loginWrapper">
	<!-- Current user form -->
    <form action=""  autocomplete="off" method="post" class="validate" id="frmforgot">
        <div class="logControl"><?php echo $this->loginfail ?></div>
        <div><h3>Forgot password</h3>
            Please confirm your email and enter the code exactly as you see it in the image<br />
            <div style="color: red"><?php echo $this->error; ?><br/></div>
        <input type="text" value="<?php echo $this->eml ?>" id="email" name="email" placeholder="Confirm your email" class="loginEmail" /></div>
        <div><br/><?php echo $this->captcha; ?></div>
        
        <input type="text" name="captcha" id="captcha" class="loginPassword"/>
        <?php echo $this->formHidden('captcha_id', $this->captchaID) ?>
        
        <div class="logControl">            
            <button type="submit" class="buttonM bBlue">Submit</button>
            <button type="text" class="buttonM bRed" onclick="getCaptcha()">Change   </button>
        </div>
      
    </form>
</div>
<!-- Login wrapper ends -->



