<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#login").validate({
            debug: false,
            rules: {
                username: "required",
                password: "required"
            },
            messages: {
                username:"Username cannot be empty",
                password:"Password cannot be empty"
            }
        });
    });
</script>
<style> label.error { width: 250px; display:inline; color: red;  }  </style>
<div id="top">
	<div class="wrapper">
            <a href="#" title="" class="logo"><?php echo "<img src=' " . URL_ROOT . "application/layouts/images/logo.png' alt='' />" ?>                
            </a>
        <!-- Right top nav -->
        <div class="topNav">
            <ul class="userNav">
                <li><a href="#" title="" class="screen"></a></li>
                <li><a href="#" title="" class="settings"></a></li>
                <li><a href="#" title="" class="logout"></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- Top line ends -->

<!-- Login wrapper begins -->
<div class="loginWrapper">
	<!-- Current user form -->
    <form method="post" id="login">
        <div class="loginPic">
            <a href="#" title=""><?php echo "<img src=' " . URL_ROOT . "application/layouts/images/userLogin.png' alt='' />" ?>                                
            </a>
            <span>Eugene Kopyov</span>
            <div class="loginActions">
                <div><a href="#" title="Change user" class="logleft flip"></a></div>
                <div><a href="#" title="Forgot password?" class="logright"></a></div>
            </div>
        </div>
        <div class="logControl" style="color: red"><?php echo $this->loginfail ?></div>
        <input value="<?php echo $this->coouser?>" type="text" id="username" name="username" placeholder="Confirm your username" class="loginEmail" />
        <input value="<?php echo $this->coopass?>" type="password" id="password" name="password" placeholder="Password" class="loginPassword" />        

        <div class="logControl">            
            <div class="memory"><input type="hidden" id="remember" name="remember" value="0"  /></div>
            <div class="memory"><input type="checkbox" id="remember" name="remember" value="1" <?php if ($this->coocheck == 1) echo 'checked="checked"'; ?> class="check" /><label for="remember1">Remember me</label></div>            
            <button type="submit" class="buttonM bBlue">Login</button>
            <div class="memory"><a href="<?= $this->url(array("controller"=>"index", "action"=>"forgot")) ?>">Forgot password?</a></div>
            <div class="clear"></div>
        </div>
      
    </form>
    <!-- New user form -->
    <form method="post" id="recover">
        <div class="loginPic">
            <a href="#" title="">                
                    <?php echo "<img src=' " . URL_ROOT . "application/layouts/images/userLogin2.png' alt='' />" ?>                                                
            </a>                
            <div class="loginActions">
                <div><a href="#" title="" class="logback flip"></a></div>
                <div><a href="#" title="Forgot password?" class="logright"></a></div>
            </div>
        </div>            
        <input type="text" name="login" placeholder="Your username" class="loginUsername" />
        <input type="password" name="password" placeholder="Password" class="loginPassword" />        
        <div class="logControl">            
            <div class="memory"><input type="checkbox" name="remember1" id="remember1" class="check"/><label for="remember2">Remember me</label></div>
            <button type="submit" class="buttonM bBlue">Login</button>
        </div>
    </form>

</div>
<!-- Login wrapper ends -->



