<?php echo $this->headTitle() ?>

<?php $root = URL_ROOT.'application/layouts/';?>

<!-- CSS Styles -->
<link rel="stylesheet" type="text/css" href="<?php echo $root;?>css/styles.css">

<!-- JavaScripts -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

<script type="text/javascript" src="<?php echo $root;?>js/plugins/forms/ui.spinner.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/forms/jquery.mousewheel.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script type="text/javascript" src="<?php echo $root;?>js/plugins/charts/excanvas.min.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/charts/jquery.flot.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/charts/jquery.flot.orderBars.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/charts/jquery.flot.pie.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/charts/jquery.flot.resize.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/charts/jquery.sparkline.min.js"></script>

<script type="text/javascript" src="<?php echo $root;?>js/plugins/tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/tables/jquery.sortable.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/tables/jquery.resizable.js"></script>

<script type="text/javascript" src="<?php echo $root;?>js/plugins/forms/autogrowtextarea.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/forms/jquery.uniform.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/forms/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/forms/jquery.autotab.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/forms/jquery.chosen.min.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/forms/jquery.dualListBox.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/forms/jquery.cleditor.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/forms/jquery.ibutton.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/forms/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/forms/jquery.validationEngine.js"></script>

<script type="text/javascript" src="<?php echo $root;?>js/plugins/uploader/plupload.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/uploader/plupload.html4.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/uploader/plupload.html5.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/uploader/jquery.plupload.queue.js"></script>

<script type="text/javascript" src="<?php echo $root;?>js/plugins/wizards/jquery.form.wizard.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/wizards/jquery.validate.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/wizards/jquery.form.js"></script>

<script type="text/javascript" src="<?php echo $root;?>js/plugins/ui/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/ui/jquery.breadcrumbs.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/ui/jquery.tipsy.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/ui/jquery.progress.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/ui/jquery.timeentry.min.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/ui/jquery.colorpicker.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/ui/jquery.jgrowl.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/ui/jquery.fancybox.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/ui/jquery.fileTree.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/ui/jquery.sourcerer.js"></script>

<script type="text/javascript" src="<?php echo $root;?>js/plugins/others/jquery.fullcalendar.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/plugins/others/jquery.elfinder.js"></script>

<script type="text/javascript" src="<?php echo $root;?>js/plugins/ui/jquery.easytabs.min.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/files/bootstrap.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/files/login.js"></script>
<script type="text/javascript" src="<?php echo $root;?>js/files/functions.js"></script>



