<?php echo $this->doctype(); ?>

<html xmlns="http://www.w3.org/1999/xhtml">
    
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <?php echo $this->headMeta(); ?> 
</head>
    
<body>
	<?php include "topline.phtml"; ?>        
        <?php include "sidebar.phtml"; ?>    
        <?php echo $this->layout()->content; ?>		
</body>
</html>
