<!-- Sidebar begins -->
<div id="sidebar">
    <div class="mainNav">
        <div class="user">
            <a title="" class="leftUserDrop"><?php echo "<img src=' " . URL_ROOT . "application/layouts/images/user.png' alt='' />" ?><span><strong>3</strong></span></a><span>Eugene</span>
            <ul class="leftUser">
                <li><a href="#" title="" class="sProfile">My profile</a></li>
                <li><a href="#" title="" class="sMessages">Messages</a></li>
                <li><a href="#" title="" class="sSettings">Settings</a></li>
                <li><a href="#" title="" class="sLogout">Logout</a></li>
            </ul>
        </div>

        <!-- Responsive nav -->
        <div class="altNav">
            <div class="userSearch">
                <form action="">
                    <input type="text" placeholder="search..." name="userSearch" />
                    <input type="submit" value="" />
                </form>
            </div>

            <!-- User nav -->
            <ul class="userNav">
                <li><a href="#" title="" class="profile"></a></li>
                <li><a href="#" title="" class="messages"></a></li>
                <li><a href="#" title="" class="settings"></a></li>
                <li><a href="#" title="" class="logout"></a></li>
            </ul>
        </div>

        <!-- Main nav -->
        <ul class="nav">
            <li><a href="<?= $this->url(array('module'=>'admin','controller'=>'apns', 'action'=>'index')) ?>" title=""><?php echo "<img src=' " . URL_ROOT . "application/layouts/images/icons/mainnav/dashboard.png' alt='' />" ?>
                    <span>APNS</span></a></li>
            <li><a href="<?= $this->url(array('module'=>'admin','controller'=>'user', 'action'=>'index')) ?>" title=""><?php echo "<img src=' " . URL_ROOT . "application/layouts/images/icons/mainnav/ui.png' alt='' />" ?>
                    <span>Register</span></a>
            </li>
            <li><a href="<?= $this->url(array('module'=>'admin','controller'=>'log', 'action'=>'index')) ?>" title=""><?php echo "<img src=' " . URL_ROOT . "application/layouts/images/icons/mainnav/forms.png' alt='' />" ?>
                    <span>Log</span></a>
              
            </li>
        </ul>
    </div>    
</div>

