<div id="top">
    <div class="wrapper">
        <a href="" title="" class="logo"><?php echo "<img src=' " .URL_ROOT."application/layouts/images/logo.png' alt='' />" ?></a>
        
        <!-- Right top nav -->
        <div class="topNav">
            <ul class="userNav">
                <li><a title="" class="search"></a></li>
                <li><a href="#" title="" class="screen"></a></li>
                <li><a href="#" title="" class="settings"></a></li>
                <li><a href="<?= $this->url(array('action'=>'logout','controller'=>'index')); ?>" title="" class="logout"></a></li>
                <li class="showTabletP"><a href="#" title="" class="sidebar"></a></li>
            </ul>
            <a title="" class="iButton"></a>
            <a title="" class="iTop"></a>
            <div class="topSearch">
                <div class="topDropArrow"></div>
                <form action="">
                    <input type="text" placeholder="search..." name="topSearch" />
                    <input type="submit" value="" />
                </form>
            </div>
        </div>

        
        <!-- Responsive nav -->
        <?php include "responsivenav.phtml"; ?>
        
        <div class="clear"></div>
    </div>
</div>
<!-- Top line ends -->